.search-span{
    width: 80px;
    display: inline-block;
}
.h-table {
    padding: 10px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    .headerLeft {
        padding: 10px 0;

        button {
            margin-right: 8px;
        }
    }

    .headerRight {
        margin-right: 10px;
    }

}